<div class="container-fluid g-0">
  <app-header-admin-global (sideNavToggled)="sideNavStatus = $event;"></app-header-admin-global>
  <main>
    <app-sidenav [sideNavStatus]="sideNavStatus" [ngClass]="{'app-side-nav-open':sideNavStatus}"></app-sidenav>
    <div class="display-area p-3" [ngClass]="{'display-area-shrink':sideNavStatus}">
      <mat-toolbar class="toolbar">
        <span><strong>Utilisateurs Attijari <span style="color: #e85641;">Assurance</span></strong> </span>
      </mat-toolbar>
      <div class="search-container">
        <div class="search-box">
          <i class="fa fa-search search-icon"></i>
          <input class="search-input form-control" type="text" placeholder="Rechercher" [(ngModel)]="searchText" />
        </div>
      </div>
      <div class="filter-buttons">
        <button class="filter-btn" [ngClass]="{'active': currentFilter === 'ALL'}" (click)="filterUsers('ALL')"><strong>Tous</strong></button>
        <button class="filter-btn" [ngClass]="{'active': currentFilter === 'ADMIN'}" (click)="filterUsers('ADMIN')"><strong>Admins</strong></button>
        <button class="filter-btn" [ngClass]="{'active': currentFilter === 'AGENT'}" (click)="filterUsers('AGENT')"><strong>Agents</strong></button>
      </div>
      <table class="user-table">
        <thead>
          <tr>
            <th>Nom</th>
            <th>Prénom</th>
            <th>Email</th>
            <th>Rôle</th>
            <th>Statut</th>
            <th>Action</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let user of filteredUsers | search: searchText">
            <td>{{ user.nom }}</td>
            <td>{{ user.prenom }}</td>
            <td>{{ user.email }}</td>
            <td>{{ user.role }}</td>
            <td>
              <button class="activate-btn" (click)="toggleUserStatus(user)">
                <ng-container *ngIf="user.active; else inactiveIcon">
                  <i class="fa-solid fa-toggle-on" style="color:#ffc700; background-color: transparent;"></i>
                </ng-container>
                <ng-template #inactiveIcon>
                  <i class="fa-solid fa-toggle-off" style="color: #e85641; background-color: transparent;"></i>
                </ng-template>
              </button>
            </td>
            <td>
              <button class="modify-btn" (click)="openModifyDialog(user)">
                <i class="fa-solid fa-user-pen"></i>
              </button>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </main>
</div>
