<footer class="footer">
    <div class="container">
        <div class="row">
            <div class="col-md-4">
                <h4>Contacts</h4>
                <p>
                    Adresse : 123 centre urbain nord<br>
                    Ariana, Tunis<br>
                    Téléphone : +123456789<br>
                    Email : attijari@banque.com
                </p>
            </div>
            <div class="col-md-4">
                <h4>Liens Utiles</h4>
                <ul>
                    <li><a href="#">FAQ</a></li>
                    <li><a href="#">Support Technique</a></li>
                    <li><a href="#">Politique de Confidentialité</a></li>
                </ul>
            </div>
            <div class="col-md-4">
                <h4>Réseaux Sociaux</h4>
                <ul class="social-icons">
                    <li><a href="#"><i class="fa fa-facebook"></i></a></li>
                    <li><a href="#"><i class="fa fa-twitter"></i></a></li>
                    <li><a href="#"><i class="fa fa-linkedin"></i></a></li>
                    <li><a href="#"><i class="fa fa-instagram"></i></a></li>
                </ul>
            </div>
        </div>
    </div>
    <div class="footer-bottom">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <p class="text-center">
                        &copy; 2024 Attijari Bank. Tous droits réservés.
                    </p>
                </div>
            </div>
        </div>
    </div>
</footer>
