<div class="side-nav-content">
    <ul class="nav-list" [ngClass]="{'nav-list-open' : sideNavStatus}">
      <li class="nav-list-item">
        <i class="fa-solid fa-house"></i>
        <span>
          <a [routerLink]="['/accueilAdmin']">Acceuil</a>
        </span>
      </li>
      <li class="nav-list-item">
        <i class="fa-solid fa-building"></i>
                <span>
            <a [routerLink]="['/listecompagnie']">Compagnies</a>
        </span>
      </li>
      <li class="nav-list-item">
        <i class="fa-solid fa-rectangle-list"></i>
                <span>
            <a [routerLink]="['/listSouscriptionsAdmin']">Liste Souscriptions</a>
        </span>
      </li>
      <li class="nav-list-item">
        <i class="fa-solid fa-file-contract"></i>
                <span>
            <a [routerLink]="['/listContratsAdmin']">Liste Contrats</a>
        </span>
      </li>
    </ul>
  </div>
  
