.border-white {
  border: 1px solid white;
  margin-top: auto; 
}

.side-nav-content {
  background-color: #fff9e6; /* Changer la couleur de fond en beige */
  color: black; /* Couleur par défaut du texte en noir */
  width: 230px;
  margin-left: 10px;
  margin-right: 20px;
  margin-top: 30px;
}

.nav-list {
  list-style: none;
 /* height: 100%; */
  padding: 0;
/*  margin-bottom: 0; */
}

.nav-list-item {
  display: flex;
  align-items: center;
  height: 50px;
  transition: background-color 0.3s ease;
}

.nav-list-open .nav-list-item:hover {
  background-color: rgba(0, 0, 0, 0.1); /* Couleur de fond en noir transparent au survol */
  border-radius: 5px;
}

.nav-list-item i {
  font-size: 20px;
  width: 40px; /* Taille uniforme pour les icônes */
  text-align: center;
  line-height: 50px; /* Centrer verticalement */
  color: black; /* Couleur des icônes en noir */
}

.nav-list-item span {
  flex-grow: 1; /* Expansion pour remplir l'espace restant */
  padding: 0 15px; /* Espacement autour du texte */
  font-weight: bold;
}
a {
  text-decoration: none;
  color: black; /* Couleur des liens en noir */
}
a.active {
  font-weight: bold; /* Mettre en gras pour le lien actif */
  color: #007bff; /* Couleur de lien actif */
}
.role {
display: block;
text-align: right; /* Alignement à droite */
padding: 10px; /* Espacement autour du texte */
font-weight: bold;
margin-top: auto;
}