<div class="container-fluid g-0">
  <app-header (sideNavToggled)="sideNavStatus = $event;"></app-header>
  <main>
    <app-sidenav [sideNavStatus]="sideNavStatus" [ngClass]="{'app-side-nav-open':sideNavStatus}"></app-sidenav>
    <div class="display-area p-3" [ngClass]="{'display-area-shrink':sideNavStatus}">
      <mat-toolbar class="toolbar">
        <span><strong> Simulation des offres d'assurance incendie </strong></span>
      </mat-toolbar>
      <div class="container">
  
        <div *ngIf="offres && offres.length > 0; else noOffres" class="offre-container">
          <div *ngFor="let offre of offres" class="offre-card">
            <div class="card">
              <div class="card-header">
                <img *ngIf="offre.compagnie && offre.compagnie.logo" src="http://localhost:9630/images/{{ offre.compagnie.logo }}" alt="Compagnie Logo" width="150" height="200">
                <div *ngFor="let c of lesCompagnies">
               
                  <h5 class="card-title">{{ c.nom }}</h5>
                </div>
                <h5 class="card-title">{{ offre.nom }}</h5>
              </div>
              <div class="card-body">
                <table class="table">
                  <tr>
                    <th>Conditions:</th>
                  </tr>
                  <td>{{ offre.conditions }}</td>

                  <tr>
                    <th>Couverture:</th>
                    
                  </tr>
                  <td>{{ offre.couverture }}</td>
                
                    <tr>
                      <th>id client: </th>
                      
                    </tr>
                    <td>{{ idClient }}</td>
                    
                </table>
              </div>
              <div class="card-footer text-center">
                <mat-icon class="money-icon" (click)="openDialog(offre)">attach_money</mat-icon> 
              </div>
            </div>
          </div>
        </div>
        <ng-template #noOffres>
          <p>Aucune offre disponible</p>
        </ng-template>
      </div>
          </div>
  </main>
</div>

