<mat-toolbar class="toolbar">
    <span >Informations Clients</span>
  </mat-toolbar>

  <form class="example-form" [formGroup]="FormClient">
    <mat-form-field class="example-full-width">
      <mat-label>Number</mat-label>
      <input type="number"
             placeholder="Entrez Numéro Compte"
             aria-label="Number"
             matInput
             formControlName="numcompte">
      
    </mat-form-field>
  </form>
<!--
  <div   class="infos"><<!--*ngIf="lesClients && lesClients.length > 0 "  *ngIf="FormClient.get('numcompte')?.value"-->
 <!-- <mat-grid-list cols="3" rowHeight="2:1"   >--><!--*ngFor="let cl of lesClients"-->
    
   <!--
     <mat-grid-tile> Code Client :{{ lesClients[0]?.idClient }}</mat-grid-tile>
    <mat-grid-tile>Nom :{{ lesClients[0]?.nom }}</mat-grid-tile>
     <mat-grid-tile>Prénom : {{ lesClients[0]?.prenom }} </mat-grid-tile>
     <mat-grid-tile>Email :{{ lesClients[0]?.email }} </mat-grid-tile>
     <mat-grid-tile>Date de naissance : {{ lesClients[0]?.dateNaissance }} </mat-grid-tile>
    <mat-grid-tile>CIN : {{ lesClients[0]?.cin }}</mat-grid-tile>
     <mat-grid-tile>Revenu : {{ lesClients[0]?.revenu }} </mat-grid-tile>
     <mat-grid-tile>Tel : {{ lesClients[0]?.tel}} </mat-grid-tile>
    </mat-grid-list>

</div>
-->
<div class="box">
    <div class="row">
      <div class="col-4"> Code Client :{{ lesClients[0]?.idClient }} </div>
      <div class="col-4">Nom :{{ lesClients[0]?.nom }} </div>
      <div class="col-4">Prénom : {{ lesClients[0]?.prenom }}</div>
    </div>
    
    <div class="row">
      <div class="col-sm-4">Email :{{ lesClients[0]?.email }} </div>
      <div class="col-sm-4">Date de naissance : {{ lesClients[0]?.dateNaissance }}</div>
      <div class="col-sm-4">CIN : {{ lesClients[0]?.cin }}</div>
    </div>

    <div class="row">
        <div class="col-sm-4">Revenu : {{ lesClients[0]?.revenu }}</div>
        <div class="col-sm-4">Tel : {{ lesClients[0]?.tel}} </div>
      </div>
    
    </div>

<mat-toolbar class="toolbar">
    <span >Informations Crédits</span>
  </mat-toolbar>
  <form [formGroup]="FormClient">

  <mat-form-field>
    <mat-label>Code Client</mat-label>
    <select matNativeControl formControlName="idClient">
      <option *ngFor="let client of lesClients" [value]="client?.idClient">{{ client?.idClient }}</option>
    </select>
  </mat-form-field>
  </form>
  <div class="box"  >
<div class="row" >
  <div class="col-4">Numéro Crédit :{{lesCredits[0]?.numCredit}} </div>
  <div class="col-4">Type de Cédit :{{lesCredits[0]?.typeCredit}}  </div>
  <div class="col-4">Montant :{{lesCredits[0]?.montant}} </div>
</div>

<div class="row" >
  <div class="col-sm-4">Date d'accord : {{lesCredits[0]?.dateAccord}} </div>
  <div class="col-sm-4">Date d'échéance :{{lesCredits[0]?.dateEcheance}} </div>
  <div class="col-sm-4">Durée :{{lesCredits[0]?.duree}} </div>
</div>

</div>