<div>
    <div style="display: flex; justify-content: flex-end;">
        <button  type="button" (click)="Cancel()" class="btn btn-primary centered-button"  style="background: none; border: none; cursor: pointer;"> 
            <svg xmlns="http://www.w3.org/2000/svg" width="27" height="27" viewBox="0 0 24 24" fill="none" stroke="#000000" stroke-width="2" stroke-linecap="round" stroke-linejoin="round">
                <circle cx="12" cy="12" r="10" stroke="red"></circle>
                <line x1="15" y1="9" x2="9" y2="15" stroke="red"></line>
                <line x1="9" y1="9" x2="15" y2="15" stroke="red"></line>
            </svg>
        </button>
    </div>
    
    <div style="display: flex; justify-content: center; margin-bottom: 20px;">
        <h3>Modifier Offre</h3>
    </div>
   
</div>
<form  [formGroup]="modifyOffreForm" (ngSubmit)="UpdateOffre()"  enctype="multipart/form-data">
    <div class="form-group">
        <label for="nom">Nom Offre</label>
        <input  type="text" class="form-control" formControlName="nom" id="nom"  placeholder="Enterer nom ">
      </div>
  
      <div class="form-group">
        <label for="conditions">Conditions</label>
        <input type="text" class="form-control" formControlName="conditions" id="conditions" placeholder="Entrer les conditions">
      </div>
            <div class="form-group">
        <label for="couverture">Couverture</label>
        <input type="text" class="form-control" formControlName="couverture" id="couverture" placeholder="Entrer la couverture">
      </div>
  
      <div class="form-group">
        <label for="frais">Frais</label>
        <input  type="text" class="form-control" formControlName="frais" id="frais" placeholder="Entrer le frais">
      </div>

      <div class="form-group">
        <label for="taux_risque">Taux Risque</label>
        <input  type="text" class="form-control" formControlName="taux_risque" id="taux_risque" placeholder="Entrer le taux du risque">
      </div>
      

      
      <div style="display: flex; justify-content: flex-end;">
        <button type="submit" class="btn btn-primary centered-button" [disabled]="modifyOffreForm.invalid" style="background: none; border: none; cursor: pointer;"> 
          <svg xmlns="http://www.w3.org/2000/svg" width="30" height="30" viewBox="0 0 24 24" fill="none" stroke="#000000" stroke-width="2" stroke-linecap="round" stroke-linejoin="round">
            <circle cx="12" cy="12" r="10" stroke="green"></circle>
            <polyline points="16 7 10 17 6 12" stroke="green"/>
        </svg>    </button>  
    </div>
</form>
