<div class="dialog-content">

<div class="div1">

  <span>Ajouter une compagnie</span>
  <button  type="button" (click)="Cancel()" class="btn btn-primary centered-button"  > 
    <mat-icon>highlight_off</mat-icon>
    <!--<svg xmlns="http://www.w3.org/2000/svg" width="27" height="27" viewBox="0 0 24 24" fill="none" stroke="#000000" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"><circle cx="12" cy="12" r="10"></circle><line x1="15" y1="9" x2="9" y2="15"></line><line x1="9" y1="9" x2="15" y2="15"></line></svg>-->
  </button> 
</div>

<form [formGroup]="addCompForm" (ngSubmit)="AddComp()"  enctype="multipart/form-data">
     <div class="form-group">
            <label for="logo">Logo Compagnie</label>
            <input   type="file" class="form-control"  id="logo" (change)="onFileChange($event)" >
            <img  mat-card-image *ngIf="logoURL" [src]="logoURL" alt="Compagnie Logo" width="50px" height="50px">

          </div>
      

    <div class="form-group">
      <label for="nomc">Nom Compagnie</label>
      <input  type="text" class="form-control" formControlName="nom" id="nom"  placeholder="Entrer le nom ">
    </div>

    <div class="form-group">
      <label for="siege">Siège</label>
      <input type="text" class="form-control" formControlName="siege" id="siege" placeholder="Entrer le siège">
    </div>

    <div class="form-group">
      <label for="tel">Téléphone</label>
      <input  type="text" class="form-control" formControlName="tel" id="tel" placeholder="Entrer le numéro de téléphone">
    </div>
    
    
    <div class="div1" >
      <button type="submit" class="btn btn-primary centered-button" [disabled]="addCompForm.invalid" > 
        <mat-icon class="addicon">add_circle_outline</mat-icon>
    <!--<svg xmlns="http://www.w3.org/2000/svg" width="30" height="30" viewBox="0 0 24 24" fill="none" stroke="#000000" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"><circle cx="12" cy="12" r="10"></circle><line x1="12" y1="8" x2="12" y2="16"></line><line x1="8" y1="12" x2="16" y2="12"></line></svg>-->
  </button>  
  </div> 
</form>

</div>