<div class="dialog-content">
  <div class="div1">
    <span>Ajouter une compagnie</span>
    <button type="button" (click)="Cancel()" class="btn btn-primary centered-button">
      <mat-icon>highlight_off</mat-icon>
    </button>
  </div>

  <form [formGroup]="addCompForm" (ngSubmit)="AddComp()" enctype="multipart/form-data">
    <div class="form-group">
      <label for="logo">Logo Compagnie</label>
      <input type="file" class="form-control" id="logo" (change)="onFileChange($event)" [ngClass]="{'is-invalid': addCompForm.get('logo')?.invalid && addCompForm.get('logo')?.touched}">
      <img mat-card-image *ngIf="logoURL" [src]="logoURL" alt="Compagnie Logo" width="50px" height="50px">
      <div *ngIf="addCompForm.get('logo')?.invalid && addCompForm.get('logo')?.touched" class="invalid-feedback">
        Logo est requis.
      </div>
    </div>

    <div class="form-group">
      <label for="nom">Nom Compagnie</label>
      <input type="text" class="form-control" formControlName="nom" id="nom" placeholder="Entrer le nom" [ngClass]="{'is-invalid': addCompForm.get('nom')?.invalid && addCompForm.get('nom')?.touched}">
      <div *ngIf="addCompForm.get('nom')?.invalid && addCompForm.get('nom')?.touched" class="invalid-feedback">
        Nom est requis.
      </div>
    </div>

    <div class="form-group">
      <label for="siege">Siège</label>
      <input type="text" class="form-control" formControlName="siege" id="siege" placeholder="Entrer le siège" [ngClass]="{'is-invalid': addCompForm.get('siege')?.invalid && addCompForm.get('siege')?.touched}">
      <div *ngIf="addCompForm.get('siege')?.invalid && addCompForm.get('siege')?.touched" class="invalid-feedback">
        Siège est requis.
      </div>
    </div>

    <div class="form-group">
      <label for="tel">Téléphone</label>
      <input type="number" class="form-control" formControlName="tel" id="tel" placeholder="Entrer le numéro de téléphone" [ngClass]="{'is-invalid': addCompForm.get('tel')?.invalid && addCompForm.get('tel')?.touched}">
      <div *ngIf="addCompForm.get('tel')?.invalid && addCompForm.get('tel')?.touched" class="invalid-feedback">
        Téléphone est requis et doit être un numéro valide de 8 chiffres.
      </div>
    </div>    

    <div class="div1">
      <button type="submit" class="btn btn-primary centered-button" [disabled]="addCompForm.invalid">
        <mat-icon class="addicon">add_circle_outline</mat-icon>
      </button>
    </div>
  </form>
</div>
