
  
  <nav class="navbar navbar-expand px-2">
    <div class="side-nav-button p-2" (click)="sideNavToggle()">
      <i class="fa-solid fa-bars"></i>
    </div>
    <a class="navbar-brand px-2" *ngIf="user">
      <img src=".../../../../../assets/attijari.png" alt="Logo" class="navbar-logo">
    </a>
    <span><strong style="color: #f44336;">AGENCE : {{ user.agence?.idAgence}} </strong></span>

    <div class="navbar-actions">
      <button class="action-button" mat-icon-button [routerLink]="['/chat', user.iduser]">
        <i class="fa-regular fa-message"></i>
      </button>
      <button class="action-button" mat-icon-button [routerLink]="['/agentcompte']">
        <i class="fa-solid fa-circle-user"></i>
      </button>
      <span><strong> {{user.role}} </strong></span>
      <button (click)="logout()" class="action-button" mat-icon-button>
        <i class="fa-solid fa-right-from-bracket"></i>
      </button>
    </div>
  </nav>
  
  