
table {
    width: 100%;
    border-collapse: collapse;
    border-spacing: 0;
  }
  
  
  thead {
    background-color: #f2f2f2;
  }
  
  th {
    padding: 12px;
    text-align: left;
  }
  
  
  tbody tr:nth-child(odd) {
    background-color: #f9f9f9;
  }
  
 
  td {
    padding: 8px;
    text-align: left;
  }
  
 
  a {
    text-decoration: none;
    color: #007bff;
  }
  
 
  a:hover {
    text-decoration: underline;
  }
  .search-container {
    display: flex;
    justify-content: center;
    margin-top: 3rem;
    margin-bottom: 1.5rem;
  }
  
  .search-input {
    border-radius: 1.5rem;
    border: none;
    height: 3rem;
    width: 22rem; 
    background-color: #f1f1f1;
    padding: 0 1.2rem;
    font-size: 1.1rem;
    font-weight: 500;
    outline: auto rgb(174, 174, 174);
    box-shadow: 0 0 5px rgba(0, 0.1, 0.1, 0.1);
  }