body {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 0;
  background-color: #f0f2f5;
}

.container {
  background: #ecf0f3;
  padding: 30px;
  border-radius: 20px;
  width: 350px;
  box-shadow: 14px 14px 20px #cbced1, -14px -14px 20px #ecf0f3;
}

.form-icon {
  color: rgb(252, 134, 92);
  font-size: 55px;
  text-align: center;
  line-height: 100px;
  width: 100px;
  height: 100px;
  margin: 0 auto 15px;
  border-radius: 50px;
  box-shadow: 7px 7px 15px #cdced1, -7px -7px #ecf0f3;
}

.title {
  color: rgb(252, 134, 92);
  font-size: 25px;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 1px;
  margin: 0;
  padding: 0;
  margin-bottom: 20px;
  text-align: center;
}

.form-group {
  margin-bottom: 20px;
}

.form-control {
  width: 100%;
  padding: 10px;
  border-radius: 5px;
  border: 1px solid #ccc;
}

.text-danger {
  color: red;
  font-size: 14px;
  margin-top: 5px;
}

.btn {
  color: rgb(252, 134, 92);
  background: white;
  font-size: 20px;
  font-weight: bold;
  text-transform: uppercase;
  padding: 12px 15px 11px;
  border-radius: 20px;
  border: none;
  box-shadow: 6px 6px 6px #cbced1 -6px -6px -6px #fff;
  margin-top: 25px;
  
}

input.ng-valid {
  border-left: 3px solid green;
}

input.ng-invalid {
  border-left: 3px solid red;
}