
.container {
   margin: 0 auto;
  max-width: 900px;
  }



.box {
  border: 2px solid #ccc;
  position: relative;
  padding: 20px;
}

.header {
  position: absolute;
  top: -20px;
  left: 50%;
  transform: translateX(-50%);
  background-color: #fff;
  padding: 0 10px;
}


.cadreContrat {
  margin:10px;
  padding: 15px;
  border: solid black 2px; 
}
::ng-deep p-dialog {
  width:50px;
}
.div {
  display: flex;
  position:relative;
  flex-direction: column;
  left:160px; 
}
p-dialog ::ng-deep .p-dialog-header {
  background-color: #d85023 !important;

}
.p-dropdown {
  position:relative;
  width: 400px; /* replace with your desired width */
 }
span p {
  height: 100px; /* Set the desired height */
  overflow-y: auto; /* Add scroll bar if content overflows */
}

i.search:hover,i.pi-arrow-left:hover{
cursor:pointer;
}

a {
  text-decoration: none;
  color:white;
}



/* Header */
app-header {
  position: fixed;
  width: 100%;
  top: 0px;
  height: 4rem;
  z-index: 2;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);
}

/* Main content positioning */
main {
  position: relative;
  top: 4rem;
  width: 100%;
  z-index: 1;
}

/* Side navigation */
app-sidenav {
  position: fixed;
  top: 4rem;
  left: 0;
  width: 56px;
  height: calc(100vh - 4rem); /* Adjust to fit below the header */
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);
  background-color: #fff9e6; /* Background color */
  overflow: hidden;
  white-space: nowrap;
  transition: width 250ms ease-in;
}

.app-side-nav-open {
  width: 250px;
}

/* Display area */
.display-area {
  position: relative;
  margin-left: 56px;
  width: calc(100% - 56px); /* Adjust to fit next to the collapsed sidenav */
  transition: margin-left 250ms ease-in, width 250ms ease-in;
}

.display-area-shrink {
  margin-left: 250px;
  width: calc(100% - 250px); /* Adjust to fit next to the expanded sidenav */
}