mat-toolbar {
    background-color: beige; 
    color: black; 
    display: flex;
    justify-content: space-between;
  }
  
  mat-sidenav-container {
    height: 100vh; 
  }
  
  .mat-sidenav {
    background-color: #f8f9fa; 
    color: #495057; 
  }
  
  .mat-nav-list a {
    color: black;
  }
  
  .mat-sidenav-content {
    padding: 20px; 
  }
  
  /*.main-content {
    background-size: cover;
    background-position: center;
    background-color: #efeee9; 
  }*/
  
  @media screen and (max-width: 768px) {
    .mat-sidenav {
      width: 100%; 
    }
  
    .mat-sidenav-container {
      height: auto; 
    }
  }
  
  .custom-icon-button {
    background-color: beige; 
    color: black; 
  }
  
  .custom-icon-button:hover {
    background-color: white; 
  }
  
  .logout-button {
    background-color: beige;
  }
  
  .account-button {
    background-color: beige;
  }
  .message-button {
    background-color: beige;
  }
  
  .spacer {
    flex: 1; /* Le div vide prendra autant d'espace que possible */
  }
  header {
    /*z-index: 2; */
    
      position: fixed;
      top: 0;
      left: 0;
      width: 100%;
      z-index: 1000;
    }
  

  .animate-charcter{
    
    font-weight: bold;
   text-transform: uppercase;
  background-image: linear-gradient(
    -225deg,
    #231557 0%,
    #44107a 29%,
    #ff1361 67%,
    #fff800 100%
  );
  background-size: auto auto;
  background-clip: border-box;
  background-size: 200% auto;
  color: #fff;
  background-clip: text;
/* text-fill-color: transparent;*/
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  animation: textclip 2s linear infinite;
  display: inline-block;
      font-size: 30px;
}

@keyframes textclip {
  to {
    background-position: 200% center;
  }
}