/*mat-toolbar {
    background-color: beige; 
    color: black; 
    display: flex;
    justify-content: space-between;
  }
  
  mat-sidenav-container {
    height: 100vh; 
  }
  
  .mat-sidenav {
    background-color: #f8f9fa; 
    color: #495057; 
  }
  
  .mat-nav-list a {
    color: black;
  }
  
  .mat-sidenav-content {
    padding: 20px; 
  }
  
  .main-content {
    background-size: cover;
    background-position: center;
    background-color: #efeee9; 
  }
  
  @media screen and (max-width: 768px) {
    .mat-sidenav {
      width: 100%; 
    }
  
    .mat-sidenav-container {
      height: auto; 
    }
  }
  
  .custom-icon-button {
    background-color: beige; 
    color: black; 
  }
  
  .custom-icon-button:hover {
    background-color: white; 
  }
  
  .logout-button {
    background-color: beige;
  }
  
  .account-button {
    background-color: beige;
  }
  .message-button {
    background-color: beige;
  }
  
  .spacer {
    flex: 1; 
  }
  
  */

  

  nav {
    height: 100%;
    background-color: #fff9e6; 
    padding: 40px 0;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); 
  }
  
  .side-nav-button {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.5rem;
    cursor: pointer;
  }
  
  .side-nav-button:hover {
    background-color: rgba(255, 255, 255, 0.2);
    border-radius: 30%;
  }
  
  .navbar-brand {
    display: flex;
    align-items: center;
  }
  
  .navbar-logo {
    height: 85px; 
    width: 250px; 
    margin: 10px;
  }
  .navbar-title {
    font-weight: bold;
  }
  
  .navbar-actions {
    margin-left: auto;
  }
  
  .action-button {
    font-size: 1.4rem;
    margin-left: 10px;
    color: black; /* Couleur des icônes */
  }
  
  .action-button:hover {
    color: #717171; /* Changement de couleur au survol */
  }